In [1]:
import pandas as pd
import cv2

In [2]:
df = pd.read_csv("annotations.csv")

In [3]:
df.describe()

,attibute,fname,bbox_x1,bbox_y1,bbox_x2,bbox_y2,class
count,8144.000000,8144.000000,8144.000000,8144.000000,8144.000000,8144.000000,8144.000000
mean,4071.500000,4072.500000,64.906803,108.661223,638.208620,416.431606,98.979371
std,2351.114629,2351.114629,82.198684,104.551635,410.776734,273.786000,56.503148
min,0.000000,1.000000,1.000000,1.000000,76.000000,47.000000,1.000000
25%,2035.750000,2036.750000,19.000000,42.000000,392.000000,248.000000,50.000000
50%,4071.500000,4072.500000,39.000000,80.000000,569.000000,360.000000,99.000000
75%,6107.250000,6108.250000,79.000000,138.250000,746.250000,477.000000,148.000000
max,8143.000000,8144.000000,1648.000000,1508.000000,5205.000000,3389.000000,196.000000

In [5]:
def solve_image():
    for i in range(1, 8001):
        if i < 10:
            location = '000' + str(i)
        elif i < 100:
            location = '00' + str(i)
        elif i < 1000:
            location = '0' + str(i)
        else:
            location = str(i)
        img = cv2.imread('./data/0' + location + '.jpg')
        j = i - 1
        # 裁剪坐标为[y1:y2, x1:x2]
        cropped = img[int(df['bbox_y1'][j]):int(df['bbox_y2'][j]), int(df['bbox_x1'][j]):int(df['bbox_x2'][j])]
        height = img.shape[0]
        width = img.shape[1]
        if height > 0 and width > 0:
            cropped = cv2.resize(cropped, (64, 64))
        cv2.imwrite('./Solve_data/0' + location + '.jpg', cropped)
solve_image()